body {
  background: url("https://cdn.pixabay.com/photo/2018/08/11/17/54/rain-3599085_960_720.jpg");
  background-size: 100%;
  font-family: "Quicksand", sans-serif;
}

.container-lg {
  width: 80%;
  height: 550px;
  border: none;
  border-radius: 18px;
  margin-top: 45px;
  background: rgba(187, 210, 212, 0.7);
  text-align: center;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: black;
  display: block;
  padding-top: 28px;
  padding-bottom: 27px;
  margin: 0 auto;
  text-align: center;
}

form {
  display: inline;
  margin: 20px auto;
  text-align: center;
}

p {
  display: block;
  font-size: 15px;
  font-weight: 900;
  margin: 0, auto;
  padding-bottom: -23px;
  padding-top: -10px;
  text-transform: capitalize;
}

h2 {
  padding-top: 9px;
  padding-bottom: 12px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(100, 136, 155, 0.562);
  line-height: 22px;
  font-size: 36px;
}

h3 {
  font-weight: 900;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.col-6 img {
  margin: 34px auto -3px;
}

.col-6 {
  padding-left: 95px;
}

h5 {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  margin-left: -60px;
}

.h5 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 25px;
}

.col-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
  font-size: 17px;
  margin-bottom: -14px;
}

img {
  display: block;
  margin: 15px auto 5px;
}

h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: -3px;
}

.input-group {
  width: 70%;
  opacity: 0.8;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

footer {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  text-align: center;
  padding-top: 11px;
  color: white;
  text-shadow: 2px 1px 1px #4b4a4a;
  margin: 0 auto;
}

.footer {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(104, 100, 100);
}
.active {
  text-decoration: none;
  color: black;
}
